.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 95vw;
  height: 95vh;
  max-width: 800px;
}

.textbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
  height: 80%;
}

.textbox {
  width: auto;
  padding: 10px;
  font-size: 5vh;
  resize: none;
  border: none;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

button {
  margin: 0 10px;
}
